.pokemon-sprite {
  background-color: #eee;
}

.ar-scanner-frame {
  height: 0;
  border-width: 8;
  border-color: #333333;
  border-radius: 8;
  margin: 16;
  opacity: 0;
  background-color: #333333;
}

.ar-scanner-cover {
  background-color: #333333;
  opacity: 0.5;
}
