<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Glasses"></Label>
</ActionBar>

<GridLayout class="page">
  <ListView [items]="items" (itemTap)="onGlassesTap($event)">
    <ng-template let-i="index" let-item="item">
      <GridLayout rows="30, *, 30" columns="*, auto">
        <Image col="1" rowSpan="3" stretch="fill" class="glasses" [src]="item.image"></Image>
        <Label row="0" class="title" [text]="item.title"></Label>
        <Label row="1" class="description" [text]="item.description" textWrap="true"></Label>
        <Label row="2" class="price" [text]="item.price | currency"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
</GridLayout>
