<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
  <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
  <Label class="page-icon fa" text="&#xf015;"></Label>
  <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>
</GridLayout>
