<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
  <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
  <Label class="page-icon fa" text="&#xf015;"></Label>
  <Img class="page-placeholder" width="45%" src="~/app/images/pokemon-cards/Bulbasaur.jpg"/>
  <Img class="page-placeholder m-l-40 m-t-40" width="45%" src="~/app/images/pokemon-cards/Caterpie.jpg"/>
  <Img class="page-placeholder m-l-80 m-t-80" width="45%" src="~/app/images/pokemon-cards/Snorlax.jpg"/>
</GridLayout>
