// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar .fa {
    padding: 24px;
}

ActionBar .action-item-fa-label {
    font-size: 8;
    margin-top: 25;
    margin-right: 13;
}
