.pokemon-sprite {
  height: 180;
  width: 180;
}

.pokemon-card {
  height: 320;
}

.pokemon-type {
  padding: 4 8;
  border-radius: 4;
  background-color: steelblue;
  color: white;
  margin: 0 10;
}

.pokemon-sprite-animation {
  opacity: 0;
  animation-delay: 0.3s;
  animation-name: scale-in;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.pokemon-card-animation {
  opacity: 0;
  animation-delay: 0.9s;
  animation-name: scale-in;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
