<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
      <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
      <Label class="sidedrawer-header-brand" text="User Name"></Label>
      <Label class="footnote" text="username@mail.com"></Label>
    </StackLayout>

    <ScrollView row="1" class="sidedrawer-content">
      <StackLayout>
        <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
          <Label col="0" text="&#xf015;" class="fa"></Label>
          <Label col="1" text="Home" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/augment-card')" (tap)="onNavItemTap('/augment-card')">
          <Label col="0" text="&#xf1ea;" class="fa"></Label>
          <Label col="1" text="Augment Card" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/search-by-card')" (tap)="onNavItemTap('/search-by-card')">
          <Label col="0" text="&#xf002;" class="fa"></Label>
          <Label col="1" text="Search by Card" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/try-before-you-buy')" (tap)="onNavItemTap('/try-before-you-buy')">
          <Label col="0" text="&#xf291;" class="fa"></Label>
          <Label col="1" text="Try before you buy" class="p-r-10"></Label>
        </GridLayout>

        <!--StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
            <Label col="0" text="&#xf013;" class="fa"></Label>
            <Label col="1" text="Settings" class="p-r-10"></Label>
        </GridLayout-->
      </StackLayout>
    </ScrollView>
  </GridLayout>

  <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
